h1.title1 {
    text-align: center;
   padding-top: 50px;
  }

 
  

/* .topbar
{
    background-color: rgb(115, 103, 165);
    height: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px rgb(71, 68, 71);
} */



.btn-menu
{
    margin: 5px;
    margin-right: 50px;
}

.margin-top{
    margin-top: 50px;
}


.background-color{
    /* background-color: rgb(255, 157, 0); */
    background-color: skyblue;
    /* transition: top 0.3s; */
}